*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FAF8EF;
}

#wrapper{
    height: 480px;
    width: 480px;
    background-color: #BBADA0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
}

.box{
    background-color: #CCC0B3;
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.text{
    font-size: 3rem;
    font-weight: 600;
}

#score{
    text-align: center;
    margin: auto;
    /* background-color: #BBADA0; */
    width: 30%;
    /* margin-top: 1rem; */
    color: white;
    display: flex;
    /* background-color: black; */
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

#current-score, #best-score{
    width: 100px;
    background-color: #BBADA0;
    border-radius: 10px;
    margin: 0.5rem;

}

main > h1{
    /* color: black; */
    font-size: 2.5rem;
    text-align: center;
    /* background-color: red; */
    padding: 0;
}